<configuration>

    <appender name="ELASTIC" class="com.drishluk.courseplatform.security.ElasticAppender">
        <elasticUrl>https://courseplatform-2469098345.us-east-1.bonsaisearch.net:443/spring-logs-2025.05.31/_doc</elasticUrl>
        <username>tcmih9pthz</username>
        <password>y8adk7lx74</password>
    </appender>
    <root level="INFO">
        <appender-ref ref="ELASTIC" />
    </root>

</configuration>